/*  Basic resets for modern browsers */
* { margin:0; padding:0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/*  Basic resets for modern browsers */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  min-height: 0;
  min-width: 0;
}

:root {
  --banner-color:#2d4c63;
  --banner-image:url("grunge-wall.png");
}

img {
  background-size:cover;
  /* object-fit:scale-down; */
}

ul {list-style-type:none;}
li { cursor:pointer; }
.language-active { font-style:italic; }
.top-bar-container {display:flex;}
ul > li { padding-right:0.50em; }

header {
  background-color: var(--banner-color);
  background-image: var(--banner-image);
}

header > div {
  display:flex;
  padding:1em;
  justify-content:space-between;
}

header > ul { margin-left:auto;}
#container { padding:1em; }

.events-legend {
  padding-top:1em;
  display:flex;
  justify-content:space-around;
  background-color: var(--banner-color);
  background-image: var(--banner-image);
  padding-bottom:1em;
}

.banner-slider > h2 {
  background-color:grey;
}

.legend-color {
  min-height:20px;
  border-radius:10px;
}

.image-descr {
  opacity:0.65;
  background-color:grey;
  position:absolute;
  color:white;
  top:0;
  margin-top:1em;
  margin-left:1em;
  padding:0.5em;
  border-radius:5px;
}

footer {
  text-align:center;
  background-color: var(--banner-color);
  background-image: var(--banner-image);
  padding-top:1em;
  padding-bottom:1em;
}

@media (min-width:300px) and (orientation:portrait) {

  img {
    height:450px;
  }

  .culture-image {
    max-height:200px;
  }

  .rbc-calendar {
    min-height:400px;
  }

  .legend-description {
    font-size:x-small;
  }

  .rbc-toolbar {
    display:none;
  }

}

@media (min-width:300px) and (orientation:landscape) {

  img {
    height:250px;
  }

  .culture-image {
    max-height:200px;
  }

  .rbc-calendar {
    min-height:600px;
  }

  .legend-description {
    font-size:medium;
  }

  .rbc-toolbar {
    padding-top:5px;
  }

}

@media (min-width:401px) {
  .legend-description {
    font-size:large;
  }
}

@media (min-width:800px) {

  img {
    height:400px;
  }

  .culture-image {
    max-height:600px;
  }

  header > * {
    font-size:xx-large;
  }
  
  .rbc-calendar {
    min-height:600px;
  }

  .image-descr {
    font-size:large;
  }

  .legend-description {
    font-size:x-large;
  }


}
