/*  Basic resets for modern browsers */
* { margin:0; padding:0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/*  Basic resets for modern browsers */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  min-height: 0;
  min-width: 0;
}

:root {
  --banner-color:#2d4c63;
  --banner-image:url("grunge-wall.png");
}

img {
  background-size:cover;
  /* object-fit:scale-down; */
}

ul {list-style-type:none;}
li { cursor:pointer; }
.language-active { font-style:italic; }
.top-bar-container {display:flex;}
ul > li { padding-right:0.50em; }

header {
  background-color: var(--banner-color);
  background-image: var(--banner-image);
}

header > div {
  display:flex;
  padding:1em;
  justify-content:space-between;
}

header > ul { margin-left:auto;}
#container { padding:1em; }

.events-legend {
  padding-top:1em;
  display:flex;
  justify-content:space-around;
  background-color: var(--banner-color);
  background-image: var(--banner-image);
  padding-bottom:1em;
}

.banner-slider > h2 {
  background-color:grey;
}

.legend-color {
  min-height:20px;
  border-radius:10px;
}

.image-descr {
  opacity:0.65;
  position:absolute;
  top:0;
  margin-top:1em;
  margin-left:1em;
  padding:0.5em;
  border-radius:5px;
  background: #333;
  color: #FFF;
}

footer {
  text-align:center;
  background-color: var(--banner-color);
  background-image: var(--banner-image);
  padding-top:1em;
  padding-bottom:1em;
}

footer > p {
  color:white;
  opacity:0.65;
  min-width:60px;
  margin-left:5em;
  margin-right:5em;
  padding-top:0.5em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  padding-left:0.5em;
  padding-right:0.5em;
  padding-bottom:0.5em;
  background-color:grey;
  border-radius:5px;
}

.group-descriptions {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

details > summary {
  text-align:center;
}

.group-descriptions > p {
  background-color:orange;
  padding:5px;
  margin-top:0.25em;
}

.language-choices {
  display:flex;
}

.language-active {
  color:orange !important;
}

@media (min-width:300px) and (max-width:700px) {
  .events-legend {
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .events-legend > div {
    min-width:200px;
  }

  .events-legend > div > h2 {
    text-align:center;
    font-size:large;
  }

}

.top-banner-event-count > p {
  text-align:center;
}

@media (min-width:300px) and (orientation:portrait) {

  footer > p {
    margin-left:1em;
    margin-right:1em;
  }

  .top-banner-event-count > p {
    color:white;
    opacity:0.65;
    margin-left:2em;
    margin-right:2em;
    padding-top:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.5em;
    background-color:grey;
    border-radius:5px;
  }

  img {
    height:450px;
  }

  .culture-image {
    max-height:200px;
  }

  .rbc-calendar {
    min-height:400px;
  }

  .legend-description {
    font-size:x-small;
  }

  .rbc-toolbar {
    display:none;
  }

  .top-banner-event-count > p {
    margin-bottom:10px;
  }

}

@media (min-width:300px) and (orientation:landscape) {

  img {
    height:250px;
  }

  .culture-image {
    max-height:200px;
  }

  .rbc-calendar {
    min-height:600px;
  }

  .legend-description {
    font-size:medium;
  }

  .rbc-toolbar {
    padding-top:5px;
  }

}

@media (min-width:401px) {
  .legend-description {
    font-size:large;
  }
}

@media (min-width:800px) {

  img {
    height:400px;
  }

  .culture-image {
    max-height:600px;
  }

  header > * {
    font-size:xx-large;
  }
  
  .rbc-calendar {
    min-height:600px;
  }

  .image-descr {
    font-size:large;
  }

  .legend-description {
    font-size:x-large;
  }
}

#mobile-message {
  background-color:green;
  text-align:center;
  padding-top:0.25em;
  padding-bottom:0.25em;
}

@media (min-width: 450px) and (orientation:portrait) {
  #mobile-message {
    display:none
  }
}

@media (max-width:600px) and (orientation:landscape) {

  .rbc-toolbar-label {
    display:none;
  }

}

@media (min-width: 450px) and (orientation:landscape) {

  .top-banner-container > header > div > .language-choices {
    flex-direction:row !important;
    display:flex !important;
    align-self:stretch;
  }

  .top-banner-container > header > div > .language-choices > li {
    margin:0.5em;
  }

  #mobile-message {
    display:none
  }

  .rbc-toolbar {
    justify-content:space-between;
  }

}

summary {
  background: #333;
  color: #FFF;
  padding: 5px 10px;
  outline: none;
}

@media only screen
and (min-width:300px)
and (max-width:700px) {

  .top-banner-event-count > p {
    font-size:x-large;
    color:white;
    opacity:0.65;
    margin-left:.5em;
    margin-right:.5em;
    padding-top:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.5em;
    background-color:grey;
    border-radius:5px;
  }

  .top-banner-container > header > div > .language-choices,
  .top-banner-container > header > div > .language-choices > li,
  .top-banner-container > header > div {
    padding-bottom:10px;
    align-items:center;
    flex-direction:column;
  }

  .top-banner-container > header > div > .language-choices > li {
    color:white;
    text-align:center;
    width:320%;
    opacity:0.65;
    padding-top:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    background-color:grey;
    border-radius:5px;
  }
}
