/*  Basic resets for modern browsers */
* { margin:0; padding:0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
/*  Basic resets for modern browsers */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
  min-height: 0;
  min-width: 0;
}

img {
  background-size:cover;
  min-height:100%;
  min-width:100%;
}

ul {list-style-type:none;}
li { cursor:pointer; }
.language-active { font-style:italic; }
.top-bar-container {display:flex;}

header {
  background-color: #2d4c63;
  background-image: url("grunge-wall.png");
}

header > div {
  display:flex;
  padding:1em;
  justify-content:space-between;
}

header > ul { margin-left:auto;}

@media (max-width: 300px) {

}

@media (min-width:700px) {
  .culture-image {
    max-height:600px;
  }

  header > * {
    font-size:xx-large;
  }
  
  .mid-calendar-component {
    min-height:600px;
  }

}

ul > li { padding-right:0.50em; }
